
.p-carousel-items-container{
display: flex;
flex-direction: row;
width: "100%";
gap: "10%";
}

/* Add this to your CSS file */
.section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}
/* Active (filled) stars */
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  color: #f7a582;
}

/* Optional: hover effect for better UX */
.p-rating .p-rating-item:hover .p-rating-icon {
  color: #f7a582;
}

